.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}

.modal {
  max-width: calc(100vw - 48px);
  max-height: calc(100vh - 24px);
}
.detailes_page {
  display: flex;
  margin-left: 10px;
  margin-top: 15px;
}
.img {
  min-width: 250px;
  margin-top: 5px;
}
.page_overview {
  margin-left: 10px;
  margin-top: 20px;
}
.infomation {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
